.f_family{
    font-family: monospace;
}

.f_family1{
    font-family: arial;
}

.f_family2{
    font-family: cursive;
}

.f_family3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}